html {
    /*
    height: 98%;
    */
}

body {
    height: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 100%;*/
}

#day-container {
    height: 24vh;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#day {
    font-size: 10vw;
    display: inline-block;
}
/*
@media only screen and (max-height: 900px) {
    #day {
        font-size: 9vw;
    }
}
@media only screen and (max-height: 800px) {
    #day {
        font-size: 8vw;
    }
}
@media only screen and (max-height: 730px) {
    #day {
        font-size: 7vw;
    }
}
@media only screen and (max-height: 615px) {
    #day {
        font-size: 6vw;
    }
}
@media only screen and (max-height: 530px) {
    #day {
        font-size: 4vw;
    }
}
*/
#time-container {
    height: 55vh;
    width: 100%;
    color: black;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#morning-afternoon {
    font-size: 4vw;
    display: inline-block;
    margin-top: 1rem;
}
/*
@media only screen and (max-height: 900px) {
    #morning-afternoon {
        font-size: 3vw;
    }
}
@media only screen and (max-height: 800px) {
    #morning-afternoon {
        font-size: 2vw;
    }
}
*/

#time {
    font-size: 17vw;
    display: inline-block;
}
/*
@media only screen and (max-height: 900px) {
    #time {
        font-size: 16vw;
    }
}
@media only screen and (max-height: 800px) {
    #time {
        font-size: 15vw;
    }
}
@media only screen and (max-height: 730px) {
    #time {
        font-size: 12vw;
    }
}
@media only screen and (max-height: 630px) {
    #time {
        font-size: 13vw;
    }
}
@media only screen and (max-height: 530px) {
    #time {
        font-size: 10vw;
    }
}
*/
#am-pm {
    font-size: 4vw;
    display: inline-block;
}
/*
@media only screen and (max-height: 900px) {
    #am-pm {
        font-size: 3vw;
    }
}
@media only screen and (max-height: 800px) {
    #am-pm {
        font-size: 2vw;
    }
}
*/
#date-container {
    height: 21vh;
    color: white;
    background-color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#date {
    font-size: 8vw;
    display: inline-block;
    margin-top: 1vh;
}
/*
@media only screen and (max-height: 900px) {
    #date {
        font-size: 7vw;
    }
}
@media only screen and (max-height: 800px) {
    #date {
        font-size: 6vw;
    }
}
@media only screen and (max-height: 730px) {
    #date {
        font-size: 5vw;
    }
}
@media only screen and (max-height: 615px) {
    #date {
        font-size: 4vw;
    }
}
@media only screen and (max-height: 530px) {
    #date {
        font-size: 3vw;
    }
}
*/