html {
    height: 99%;
}

body {
    height: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#day-container {
    height: 24%;
    color: white;
    background-color: red;
    text-align: center;
}

#day {
    font-size: 12rem;
}
@media only screen and (max-height: 800px) {
    #day {
        font-size: 8rem;
    }
}
@media only screen and (max-width: 1125px) {
    #day {
        font-size: 6rem;
    }
}
@media only screen and (max-width: 930px) {
    #day {
        font-size: 5rem;
    }
}
@media only screen and (max-width: 755px) {
    #day {
        font-size: 5rem;
    }
}
@media only screen and (max-width: 570px) {
    #day {
        font-size: 5rem;
    }
}

#morning-afternoon {
    font-size: 6rem;
}
@media only screen and (max-height: 800px) {
    #morning-afternoon {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 1125px) {
    #morning-afternoon {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 930px) {
    #morning-afternoon {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 755px) {
    #morning-afternoon {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 570px) {
    #morning-afternoon {
        font-size: 3rem;
    }
}

#time-container {
    height: 55%;
    width: 100%;
    color: black;
    background-color: white;
    text-align: center;
}

#time {
    font-size: 22rem;
}
@media only screen and (max-height: 800px) {
    #time {
        font-size: 15rem;
    }
}
@media only screen and (max-width: 1125px) {
    #time {
        font-size: 12rem;
    }
}
@media only screen and (max-width: 1125px) {
    #time {
        font-size: 7rem;
    }
}
@media only screen and (max-width: 930px) {
    #time {
        font-size: 6rem;
    }
}
@media only screen and (max-width: 755px) {
    #time {
        font-size: 6rem;
    }
}
@media only screen and (max-width: 570px) {
    #time {
        font-size: 6rem;
    }
}

#am-pm {
    font-size: 5rem;
}
@media only screen and (max-height: 800px) {
    #am-pm {
        font-size: 4rem;
    }
}
#date-container {
    height: 21%;
    color: white;
    background-color: blue;
    text-align: center;
}
#date {
    font-size: 9rem;
}
@media only screen and (max-height: 800px) {
    #date {
        font-size: 6rem;
    }
}
@media only screen and (max-width: 1125px) {
    #date {
        font-size: 5rem;
    }
}
@media only screen and (max-width: 930px) {
    #date {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 755px) {
    #date {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 570px) {
    #date {
        font-size: 2rem;
    }
}